main {
    font-family: "Nunito-sans", sans-serif;
}

.Blue {
    background: #6652FA;
    width: 40%;
    height: 40%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #D0D3D4;
    
}

.White {
    background: whitesmoke;
    width: 40%;
    height: 40%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding: 10px;

}

.Reaction {
    background: #F9E3E3;
    color: red; 
    padding: 20px 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.Memory {
    background: #F9F1E3;
    color: #FACE7D; 
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.Verbal {
    background: #DAFCD4;
    color: #59FF3B; 
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.Visual {
    background: #D6DCFE;
    color: #3855F9; 
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.score {
    color: black; 
}

.button {
    background: #233381;
    color: #D0D3D4;
    border-radius: 25px;
    text-align: center;
    width: 40%;
    height: 40px;

}
